body{

    background-color: aquamarine;
    
}

.number1{

    background-color: gold;
    color:red;
}

.number2{

    background-color: gold;
    color:red;
}

.number3{

    background-color: gold;
    color:red;
}

.number4{

    background-color: gold;
    color:red;
}

.number5{

    background-color: gold;
    color:white;
}